<header class="header">
	<div class="container">
		<div class="logo" role="banner">
			<object data=/logos/vexpert-header.png align="right" width=140 style="margin: -10px 10px" ></object> <object data=/logos/vcix6-dcv-design.png align="right" width=120 style="margin: -22px 10px"></object>
			<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
				<div class="logo__title">{{ .Site.Title }}</div>
				{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</a>
		</div>
	</div>
	{{ partial "menu.html" . }}
</header>